---

- name: |
    "5.1 | PATCH | Ensure 'Print Spooler (Spooler)' is set to 'Disabled' (DC only)"
    "5.2 | PATCH | Ensure 'Print Spooler (Spooler)' is set to 'Disabled' ( MS only)"
  ansible.windows.win_regedit:
      path: HKLM:\System\CurrentControlSet\Services\Spooler
      name: Start
      data: 0
      type: dword
  when:
      - win22cis_rule_5_1
  tags:
      - level1-domaincontroller
      - level1-memberserver
      - win22cis_rule_5.1
      - automated
      - printer
